@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

body {
        background-color: black;
}

.container-game {
        height: 800px;
        width: 1200px;

        margin: 20px auto;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
}

.sobre-gamifica {
        width: 500px;
        height: 600px;

        padding: 40px;

        background-color: #fff;

        border: solid 15px #cf5830;
        border-radius: 30px;

        color: black;
        font-family: "anta";

        position: absolute;
        top: 5%;
        left: 5%;
}

.sobre-gamifica h2 {
        margin-bottom: 40px;

        font-size: 30px;
        text-align: center;
}

.sobre-gamifica p {
        font-size: 16px;
        text-align: justify;

        line-height: 2;
}



.oque-gamifica {
        width: 450px;
        height: 600px;

        padding: 40px;

        background-color: #fff;

        border: solid 15px #cf5830;
        border-radius: 30px;

        color: black;
        font-family: "anta";

        position: absolute;
        top: 5%;
        right: 5%;
}

.oque-gamifica h2 {
        margin-bottom: 40px;

        font-size: 30px;
        text-align: center;
}

.oque-gamifica p {
        font-size: 16px;
        text-align: justify;

        line-height: 2;
}

.case-gamifica {
        width: 500px;
        height: 600px;

        padding: 40px;

        background-color: #fff;

        border: solid 15px #cf5830;
        border-radius: 30px;

        color: black;
        font-family: "anta";

        position: absolute;
        top: 5%;
        left: 5%;
}

.case-gamifica h2 {
        margin-bottom: 40px;

        font-size: 30px;
        text-align: center;
}

.case-gamifica p {
        font-size: 16px;
        text-align: justify;

        line-height: 1.5;
}

.displayNone {
        display: none;
}